<ion-header no-border> <!-- Encabezado de la tab -->
  <ion-toolbar color='dark'> <!-- Titulo de pendientes -->
    <ion-title color="tertiary"> 
      GoalsApp! 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='light'> <!-- <h1>hola mundo: ionic mode!</h1> -->

  <ion-list color='dark'>
    <ion-item color='dark' *ngFor="let lista of goalService.listas" detail>
      <ion-label> {{lista.titulo}} </ion-label>
    </ion-item>
  </ion-list>

      <!-- fab placed to the top end -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success" (click)="agregarLista()" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
</ion-content>
